.panel-pages{
    margin: 10px 0;
}

.search-panel{
    float: right!important;
    margin-top: 0px;
}

.form-horizontal{
    margin-top: 10px;
}

.table-container{
    margin: 10px;
}

td, th{
    text-align: center;
}